.top-navbar {
  width: 100%;
  padding: 19px 10px 19px 15px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--color-gray-100);
}

.top-navbar__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.top-navbar__menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: black;
}

.top-navbar__menu-btn .material-icons {
  font-size: 24px;
}

.top-navbar__center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-navbar__title {
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 2.4px;
}

.top-navbar__right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-navbar__avatar {
  width: 28px;
  height: 28px;
  background: linear-gradient(270deg, #F23B8B 0%, #405CFB 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  border: 1px solid white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-navbar__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
